<form>
    <div id="CSContainers">
        <fieldset class="group-container ally-container">
            <legend class='group-legend'>Friendly</legend>
            <div class="group-field ally-field">
              <ul class="actor-list">
                {{#each friendly}}
                    <li>{{this.name}}</li>
                {{/each}}
                </ul>
            </div>
        </fieldset>

        <fieldset class="group-container opponent-container">
            <legend class='group-legend'>Hostile</legend>
            <div class="group-field opponent-field">
              <ul class="actor-list">
                {{#each hostile}}
                    <li>{{this.name}}</li>
                {{/each}}
              </ul>
            </div>
        </fieldset>
    </div>


    <div>
        <div class="difficulty-rating">
            Predicted difficulty per DMG: <b>{{difficulty}}</b>
        </div>
        <button class='clear' type='button'>
            Fight!
        </button>
        <hr width="70%"/>
        <div class="results-scrolling">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Duis tristique sollicitudin nibh sit amet commodo nulla. Platea dictumst quisque sagittis purus sit.
          Ornare massa eget egestas purus viverra accumsan in. Porta lorem mollis aliquam ut porttitor leo a diam. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
          Senectus et netus et malesuada fames ac turpis. Enim eu turpis egestas pretium aenean pharetra magna. Malesuada proin libero nunc consequat interdum varius.
          Odio euismod lacinia at quis risus sed vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a. Massa tempor nec feugiat nisl pretium fusce id velit.
          Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Est lorem ipsum dolor sit amet consectetur adipiscing. Fermentum et sollicitudin ac orci phasellus egestas.</p>

          <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Duis tristique sollicitudin nibh sit amet commodo nulla. Platea dictumst quisque sagittis purus sit.
          Ornare massa eget egestas purus viverra accumsan in. Porta lorem mollis aliquam ut porttitor leo a diam. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
          Senectus et netus et malesuada fames ac turpis. Enim eu turpis egestas pretium aenean pharetra magna. Malesuada proin libero nunc consequat interdum varius.
          Odio euismod lacinia at quis risus sed vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a. Massa tempor nec feugiat nisl pretium fusce id velit.
          Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Est lorem ipsum dolor sit amet consectetur adipiscing. Fermentum et sollicitudin ac orci phasellus egestas.</p>

          <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Duis tristique sollicitudin nibh sit amet commodo nulla. Platea dictumst quisque sagittis purus sit.
          Ornare massa eget egestas purus viverra accumsan in. Porta lorem mollis aliquam ut porttitor leo a diam. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
          Senectus et netus et malesuada fames ac turpis. Enim eu turpis egestas pretium aenean pharetra magna. Malesuada proin libero nunc consequat interdum varius.
          Odio euismod lacinia at quis risus sed vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a. Massa tempor nec feugiat nisl pretium fusce id velit.
          Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Est lorem ipsum dolor sit amet consectetur adipiscing. Fermentum et sollicitudin ac orci phasellus egestas.</p>
          <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Duis tristique sollicitudin nibh sit amet commodo nulla. Platea dictumst quisque sagittis purus sit.
          Ornare massa eget egestas purus viverra accumsan in. Porta lorem mollis aliquam ut porttitor leo a diam. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
          Senectus et netus et malesuada fames ac turpis. Enim eu turpis egestas pretium aenean pharetra magna. Malesuada proin libero nunc consequat interdum varius.
          Odio euismod lacinia at quis risus sed vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a. Massa tempor nec feugiat nisl pretium fusce id velit.
          Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Est lorem ipsum dolor sit amet consectetur adipiscing. Fermentum et sollicitudin ac orci phasellus egestas.</p>

          <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Duis tristique sollicitudin nibh sit amet commodo nulla. Platea dictumst quisque sagittis purus sit.
          Ornare massa eget egestas purus viverra accumsan in. Porta lorem mollis aliquam ut porttitor leo a diam. In hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit.
          Senectus et netus et malesuada fames ac turpis. Enim eu turpis egestas pretium aenean pharetra magna. Malesuada proin libero nunc consequat interdum varius.
          Odio euismod lacinia at quis risus sed vulputate. Posuere sollicitudin aliquam ultrices sagittis orci a. Massa tempor nec feugiat nisl pretium fusce id velit.
          Ut tristique et egestas quis ipsum suspendisse ultrices gravida. Est lorem ipsum dolor sit amet consectetur adipiscing. Fermentum et sollicitudin ac orci phasellus egestas.</p>
        </div>
    </div>
</form>
