<form onsubmit="event.preventDefault()">
    <div id="CSContainers">
        <fieldset class="group-container ally-container">
            <legend class='group-legend'>{{localize "CS5e.TOKEN.Friendly"}}</legend>
            <div class="group-field ally-field">
              <ul class="actor-list">
                {{#each friendly}}
                    <li>{{this.name}}</li>
                {{/each}}
                </ul>
            </div>
        </fieldset>

        <fieldset class="group-container opponent-container">
            <legend class='group-legend'>{{localize "CS5e.TOKEN.Hostile"}}</legend>
            <div class="group-field opponent-field">
              <ul class="actor-list">
                {{#each hostile}}
                    <li>{{this.name}}</li>
                {{/each}}
              </ul>
            </div>
        </fieldset>
    </div>


    <div>
      <div>
        <h3>Summary</h3>
        <div class="difficulty-rating">
            {{localize "CS5e.INFO.DMGDifficulty"}} <b>{{difficultyFromDMG}}</b><br>
            {{localize "CS5e.INFO.SimulationDifficulty"}} <b>{{difficultyFromSimulation}}</b><br>
        </div>
        {{{simulationSummary}}}
        <div>
          <p><i> {{localize "CS5e.INFO.Rerun"}}</i></p>
        </div>
      </div>
        <br>
        <div id="showDetails">
          <a><h3>Show/Hide Details:</h3></a>
          <div id="details" class="results-detail results-hidden">
            {{{simulationDetail}}}
          </div>
        </div>
        <hr width="70%"/>
        <div>
          {{{localize "CS5e.INFO.MoreAboutDMG"}}}
        </div>
    </div>
</form>
